<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
	<head><title>R: Prices of 50,000 round cut diamonds</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<% //<link rel="stylesheet" type="text/css" href="R.css"> %>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	
	<script src="/js/index.js"></script>
	
	<% // D3 module and my js drawings %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
	<% // <script src="http://threejs.org/build/three.min.js" charset="utf-8"></script> %>
		<script src="/js/r69/three.js"></script> 
		<script src="/js/r69/Detector.js"></script> 
		<script src="/js/r69/CanvasRenderer.js"></script> 
		<script src="/js/r69/Projector.js"></script> 
		<script src="/js/r69/dat.gui.min.js"></script> 
		<script src="/js/r69/stats.min.js"></script> 
		<script src="/js/r69/OrbitControls.js"></script> 
	<script src="/js/d3.js"></script>
	
	</head>
	
	<body>
		<div class="container">
			<div class="container round-container align-left">
				<div class="">
					<h3>Display diamond</h3>
					<p>Diamond id <input id="showDiamondId" type="text"></p>
					<input id="showButton" class="btn btn-default btn-md" type="button" value="Show">
				</div>
			</div>
			
			<div class="container round-container align-right">
				<div class="">
					<h3>Delete diamond from db</h3>
					<p>Diamond id <input id="deleteDiamondId" type="text"></p>
					<input id="deleteButton" class="btn btn-default btn-md" type="button" value="Delete">
				</div>
			</div>
			
			
			<div class="container round-container align-left">
				
					<h3>Insert diamond into db</h3>
				
				<div class="container">				
					<div class="row">
						<div class="col-sm-1">Carat</div>
						<div class="col-sm-1"><input id="postCarat" type="text" name="carat" value="0.24"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Cut</div>
						<div class="col-sm-1"><input id="postCut" type="text" name="cut" value="Very Good"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Color</div>
						<div class="col-sm-1"><input id="postColor" type="text" name="color" value="Y"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Clarity</div>
						<div class="col-sm-1"><input id="postClarity" type="text" name="clarity" value="SI1"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Depth</div>
						<div class="col-sm-1"><input id="postDepth" type="text" name="depth" value="59.8"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Table</div>
						<div class="col-sm-1"><input id="postTable" type="text" name="table" value="55"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Price</div>
						<div class="col-sm-1"><input id="postPrice" type="text" name="price" value="327"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">X</div>
						<div class="col-sm-1"><input id="postX" type="text" name="x" value="4.2"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Y</div>
						<div class="col-sm-1"><input id="postY" type="text" name="y" value="4.35"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Z</div>
						<div class="col-sm-1"><input id="postZ" type="text" name="z" value="2.48"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-1"><input id="postInsert" class="btn btn-default btn-md" type="button" value="Insert"></div>
					</div>
				</div>
			</div>
			
			<div class="container round-container align-right">
				
					<h3>Update diamond in db</h3>
					
				<div class="container">	
					<div class="row">
						<div class="col-sm-1">Diamond id</div>
						<div class="col-sm-1"><input id="putId" type="text"  value="1"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Carat</div>
						<div class="col-sm-1"><input id="putCarat" type="text" name="carat" value="0.24"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Cut</div>
						<div class="col-sm-1"><input id="putCut" type="text" name="cut" value="Very Good"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Color</div>
						<div class="col-sm-1"><input id="putColor" type="text" name="color" value="Y"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Clarity</div>
						<div class="col-sm-1"><input id="putClarity" type="text" name="clarity" value="SI1"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Depth</div>
						<div class="col-sm-1"><input id="putDepth" type="text" name="depth" value="59.8"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Table</div>
						<div class="col-sm-1"><input id="putTable" type="text" name="table" value="55"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Price</div>
						<div class="col-sm-1"><input id="putPrice" type="text" name="price" value="327"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">X</div>
						<div class="col-sm-1"><input id="putX" type="text" name="x" value="4.2"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Y</div>
						<div class="col-sm-1"><input id="putY" type="text" name="y" value="4.35"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1">Z</div>
						<div class="col-sm-1"><input id="putZ" type="text" name="z" value="2.48"></div>
					</div>
					
					<div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-1"><input id="putUpdate" class="btn btn-default btn-md" type="button" value="Update"></div>
					</div>
				</div>
			</div>
	</div>	

	
	<div id="dialog" title="Diamond">
		<div id="dialog-text" class="align-left"></div>
		<div id="dialog-d3" class="align-right">
			<% // <div id="Stats-output"></div> %>
		</div>
	</div>
	
	</body>
</html>
